.form {
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px #eae6dc;
  box-shadow: 0 0 4px #eae6dc;
}

.cp_stepflow07 {
	font-size: 80%;
	display: flex;
	margin: 0 0 1em;
	padding: 0;
}

.cp_stepflow07 > li {
	position: relative;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-overflow: ellipsis;
	color: #b0bec5;
	 -ms-flex: 1;
	-moz-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
}

.cp_stepflow07 > li .bubble::after {
	position: absolute;
	top: 0px;
	right: 50%;
	left: 50%;
	display: block;
	width: 90%;
	height: 8px;
	content: '';
	transform: translateX(-50%);
	background-color: #b0bec5;
}

.cp_stepflow07 > li .bubble + span {
  display: block;
	margin-top: 1em;
}

.cp_stepflow07 > li.form_active,
.cp_stepflow07 > li.form_active .bubble {
	font-weight: bold;
	color: #f57c00;
}

.cp_stepflow07 > li.form_active .bubble::after {
	background-color: #fb8c00;
}


.place {
	width: 30%;
	height: 50px;
}

select {
	border :1px solid #eee;
	font-size :16px;
}

//カテゴリチェックボックス
.item_tag {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

input[type=checkbox] {
  display: none;
}

.item-span span {
	display: inline;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	background: #eae6dc;
	-webkit-transition: .3s all;
	transition: .3s all;
	cursor: pointer;

}

.item-span span:hover {
background-color: #fb8c00;
}

input[type=checkbox]:checked + .item-span span {
background: #fb8c00;
background-size: 15px 13px;
}

input[type=checkbox]:checked:hover + .item-span span {
color: rgba(255,255,255,0.5);
background: #fb8c00;
}
