body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f37005;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #d69346;
  border-radius: 3px;
}
.btn-square:active {
  background: #98bbeb;
}

.btn-back {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #848382;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #565552;
  border-radius: 3px;
  margin-bottom: 10px;;
}
.btn-back:active {
  /*ボタンを押したとき*/
  background: #98bbeb;
}



//header

header {
  padding: 20px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  background-color:rgba(255,255,255,0.5);
}

header h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}

header  a {
  text-decoration: none;
  color: #4b4b4b;
}

nav {
  margin: 0 7% 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  list-style: none;
  margin: 0 0 0 15px;
  font-size: 17px;
}

.main_picture{
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-top: 86px;
  color: #524748;
  font-size: 40px;
  font-family: 'Kosugi', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 8px #ffffff;
}

//footer

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 40px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background: #f0aa71;
  box-sizing: border-box;
  margin-top: auto;
}

.footer_nav {
  margin-top: 1px;
  margin-bottom: 15px;
}

.footer_nav_item {
  padding: 0 40px;
  color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

//show
.contents{
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

.user{
  align-items: center;
}

.user_image{
  position: relative;
  width: 80px;
  margin: 0 auto 16px;
}

.user_info{
  margin-bottom: 40px;
  text-align: center;
}

.nav {
  justify-content: space-around;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
}

.nav_item {
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 2px solid #eae6dc;
  cursor: pointer;
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.active {
  color: #f7a831;
  border-bottom: 2px solid #f7a831;
}

.user_contents_item{
  display: none;
}

.activ{
  display: block;
}

.nav i {
  font-size: 18px;
}

.ml15 {
  margin-left: 17px;
  color:rgb(8, 8, 8); text-decoration:none
}

.flash {
  display: block;
}

.alert {
  text-align: center;
  position: fixed;
  right: 10px;
  margin-top: 80px;
}

.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
  border: none;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 0 4px #eae6dc;
}

.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
    border: none;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 0 4px #eae6dc
}

div.field_with_errors {
  color: red;
}

div.field_with_errors input {
  background-color:  #fcc;
}
