$main_color: orange;
$sub_color: black;
$sub2_color: white;

body {
  margin: 0;
  padding: 0;
  font-family:  'Noto Sans JP', sans-serif;
  background: #f7f7f7;
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

.contents{
  width: 980px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .contents {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .contents {
    width: calc(100% - 40px);
    padding: 69px 20px 88px;
  }
}

.contents_small {
  width: 360px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
  }

.contents_medium {
  width: 600px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .contents_medium {
      width: calc(100% - 40px);
      padding: 69px 20px 88px;
  }
}

.flex {
  display: flex !important;
  align-items: center;
}

.orange {
  color: $main_color;
}

.fas .fab {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 600 !important;
}

.block{
  display: block;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
  margin: 0 16px 8px 0;
  font-size: 14px;
}

.textnone {
  text-decoration: none;
  color: #FFF;
}

.text_deco a {
  color: #006198;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: $main_color;
}

//ボタン
.btn_main {
  display: inline-block;
  width: auto;
  margin: 0 0 0 10px;
  font-size: 12px;
  border-radius: 2px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: $main_color;
  color: #FFF;
  border: solid 4px $main_color;
  border-radius: 3px;
}

.btn_top {
  display: inline-block;
  padding: 6px 20px;
  text-decoration: none;
  margin: 0 0 0 10px;
  width: auto;
  color: $main_color;
  font-size: 12px;
  background-color:rgba(255,255,255,0.5);
  border-radius: 4px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: $main_color;
  color: #FFF;
  border: solid 4px $main_color;
  border-radius: 3px;
}
.btn-square:active {
  background: #98bbeb;
  border: solid 4px#98bbeb;
}

.btn-back {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #848382;
  color: #FFF;
  border: solid 4px #848382;
  border-radius: 3px;
  margin-bottom: 10px;;
}
.btn-back:active {
  background: #98bbeb;
  border: solid 4px #98bbeb
}

/*ヘッダー*/
header {
  padding: 20px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  background-color:rgba(255,255,255,0.5);
  z-index: 100;
  h1 {
  margin: 0; padding: 0;
  font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #4b4b4b;
  }
  nav {
    margin: 0 7% 0 auto;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  li {
    list-style: none;
    margin: 0 0 0 15px;
    font-size: 17px;
  }
}

.sp-nav {
  display: none;
}

@media screen and (max-width: 640px) {
  .pc-nav {
     display: none;
  }
  .sp-nav {
     z-index: 1;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     display: block;
     width: 100%;
     background: rgba(0, 0, 0, .8);
     opacity: 0;
     transform: translateY(-100%);
     transition: all .2s ease-in-out;
  }
  #hamburger {
     position: relative;
     display: block;
     width: 30px;
     height: 25px;
     margin: 0 30px 0 auto;
  }
  #hamburger span {
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 100%;
     height: 2px;
     background-color: $sub_color;
     transform: translateY(-50%);
  }
  #hamburger::before {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 2px;
     background-color: $sub_color;
  }
  #hamburger::after {
     content: '';
     display: block;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 70%;
     height: 2px;
     background-color: $sub_color;
  }
  /*スマホメニュー*/
  .sp-nav ul {
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
  }
  .sp-nav li {
     margin: 0;
     padding: 0;
  }
  .sp-nav li span {
     font-size: 15px;
     color: black;
  }
  .sp-nav li a, .sp-nav li span {
     display: block;
     padding: 20px 0;
     color: $sub2_color;
  }
  /*-閉じるアイコンー*/
  .sp-nav .close {
     position: relative;
     padding-left: 20px;
  }
  .sp-nav .close::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 16px;
     height: 1px;
     background: $sub2_color;
     transform: rotate( 45deg );
  }
  .sp-nav .close::after {
     content: '';
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 16px;
     height: 1px;
     background: $sub2_color;
     transform: rotate( -45deg );
  }
  .toggle {
     transform: translateY( 0 );
     opacity: 1;
  }
}

/*フッター*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 40px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background: $main_color;
  box-sizing: border-box;
  margin-top: auto;
  .footer_nav {
    margin-top: 1px;
    margin-bottom: 15px;
  }

  .footer_nav_item {
    padding: 0 40px;
    color: #ffffff;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

/*メイントップページ*/
.main_top {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  margin-top: -22px;
  color: #ffffff;
  font-size: 40px;
  font-family: 'Kosugi', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 8px #ffffff;
  background-image: url(main_top.jpg);
  background-position: center;
  background-size: cover;
  .contents_top_main {
    background-color: rgba(0,0,0,0.6);
    height: 900px;
    padding: 10px;
    margin: 0 auto;
    h1 {
      font-size : 100px;
      margin-top: 250px;
      margin-left: 270px
    }
    h2 {
    font-size: 40px;
    margin-left: 140px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .main_top {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1040px;
    margin-top: -22px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Kosugi', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 8px #ffffff;
    background-image: url(main_top.jpg);
    background-position: center;
    background-size: cover;
    .contents_top_main {
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      height: 1024px;
      padding: 10px;
      margin: 0 auto;
      h1 {
        font-size : 65px;
        margin-top: 300px;
        margin-left: 50px;
      }
      h2 {
      text-align: center;
      font-size: 32px;
      margin-left: 30px;
      }
      li {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main_top {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    margin-top: -22px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Kosugi', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 8px #ffffff;
    background-image: url(main_top.jpg);
    background-position: center;
    background-size: cover;
    .contents_top_main {
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      height: 780px;
      h1 {
        font-size : 40px;
        margin-top: 150px;
        margin-left: 20px;
      }
      h2 {
        font-size: 15px;
        margin-left: 5px;
      }
      li {
        font-size: 18px;
      }
    }
  }
}

/*ユーザー詳細ページ*/
.user{
  align-items: center;
  .user_image{
    position: relative;
    width: 80px;
    margin: 0 auto 16px;
  }
  .user_info{
    margin-bottom: 40px;
    text-align: center;
    i {
      margin-left: 17px;
      color:rgb(8, 8, 8);
    }
  }
  .user_nav {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    .user_nav_item {
      width: 100%;
      padding-bottom: 12px;
      text-align: center;
      border-bottom: 2px solid #eae6dc;
      cursor: pointer;
    }
    .active {
      color: $main_color;
      border-bottom: 2px solid $main_color;
    }
    i {
      font-size: 18px;
    }
  }
}

.user_contents_item{
  display: none;
}

.item_active {
  display: block;
}

/*投稿詳細ページ*/
.microposts {
  display: flex;
  justify-content: space-between;
  .microposts_main {
    width: 100%;
    .microposts_mainview_top {
      position: relative;
      font-size: 0;
    }
  }
}

.microposts_mainview_icon {
  position: absolute;
  top: 520px;
  font-size: 16px;
}

.item_icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  color: #d7ccb6;
  border: 1px solid #eae6dc;
  background: #ffffff;
}

.maicro {
  text-align: center;
  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.microposts_mainview_info {
  margin-top: 40px;
  color: #5a5359;
  .microposts_mainview_name {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    color: black;
  }
}

.microposts_mainview_users {
  margin-bottom: 10px;
  img {
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: -5px;
  }
}

.microposts_item {
  margin-top: 40px;
  .microposts_item_header {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
  }
}

.microposts_item_detail {
  display: flex;
  .microposts_item_title {
    width: 120px;
  }
  .microposts_item_contents_image img {
    width: 200px;
  }
}

.microposts_item_contents_map {
  margin-top: 8px;
}

.microposts_mainview_thumbtack i {
  color: $main_color;
}

.microposts_mainview_good i,
.microposts_mainview_comments i,
.microposts_mainview_thumbtack i,
.microposts_mainview_station i,
.microposts_mainview_hours i {
  margin-right: 4px;
}

@media screen and (max-width: 640px) {
  .maicro img {
      height: 200px;
  }
  .microposts_mainview_icon {
    position: absolute;
    top: 250px;
    font-size: 16px;
  }
  .microposts_item_contents {
    width: calc(100% - 88px);
  }
  .microposts_item_contents_map {
    width: 100vw;
    margin: 8px -20px 0;
  }
}

/*投稿一覧ページ*/
.form_category {
  margin-top: 20px;
}

.posts_card {
  margin-top: 50px;
  .card_header {
    display: flex;
    margin-bottom: 16px;
    .card_header_title {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.card_item {
  position: relative;
  display: inline-block;
  width: 228px;
  margin: 0 16px 16px 0;
  border-radius: 12px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px #eae6dc;
  box-shadow: 0 0 12px #eae6dc;
  img {
    width: 100%;
    height: 140px;
    border-radius: 12px 12px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card_item_info {
    padding: 12px;
    font-size: 12px;
    .card_item_info_name {
      overflow: hidden;
      min-height: 40px;
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: bold;
    }
    .card_item_info_comment {
      color: #5a5359;
    }
    .card_item_info_details {
      font-size: 15px;
      display: flex;
      color: #5a5359;
    }
    .card_item_info_hour {
      margin-left: 12px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .card_item {
    width: 192px;
    margin: 0 12px 12px 0;
  }
}

.card_item:nth-child(3n) {
  margin: 0 0 12px 0;
}

@media screen and (max-width: 640px) {
  .card_item {
    width: calc((100% - 8px) / 2);
    margin: 0 8px 8px 0;
    -webkit-box-shadow: 0 0 6px #eae6dc;
    box-shadow: 0 0 6px #eae6dc;
    img {
      height: 110px;
    }
    .card_item_info {
      padding: 6px 8px 8px;
      .card_item_info_name {
        min-height: 36px;
        margin-bottom: 6px;
        font-size: 12px;
      }
    }
  }
  .card_item:nth-child(2n) {
    margin: 0 0 8px 0;
  }
}

/*投稿確認ページ*/
.item_tag_confirm {
  display: inline;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	background: $main_color;
	-webkit-transition: .3s all;
  transition: .3s all;
  &:empty{
    display: none;
  }
}

/*サイドバー*/
.sidebar {
  width: 320px;
  margin-left: 40px;
  .sidebar_title {
    margin-bottom: 15px;
  }
}

.sidebar_item_contents img {
  width: 120px;
  margin-right: 16px;
}

.sidebar_item a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar_item_info {
  width: calc(100% - 116px);
  color: #5a5359;
}

.sidebar_item_info_name {
  overflow: hidden;
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.sidebar_item_info_station {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

/*ユーザーページ*/
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  .devise-card {
    border: none;
    padding: 32px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 0 4px #eae6dc;
    margin-top: 20px;
  }
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}

/*ユーザー編集ページ*/
.profile_form_wrap {
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
  label {
    font-weight: bold;
  }
}

.form_title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.edit-profile-wrapper {
  margin-top: 60px;
}

.form-group {
  margin-bottom: 32px;
  label{
    display: block;
  }
  input {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
  }
  .check_block {
    display: flex;
  }
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #eae6dc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: .3s all;
  .form-control:focus {
    border-color: $main_color;
  }
}

.text-field {
  height: 100px;
}

.form_setting a{
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.form p {
  margin-top: 30px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}


/*コメントフォーム*/
.reviews_item {
  display: flex;
  margin-bottom: 24px;
  .reviews_item_title {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
  }
  .reviews_item_img {
    position: relative;
    display: inline-block;
    margin-right: 24px;
    .reviews_photo {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .review_link {
    font-size: 14px;
    text-decoration: underline;
  }
}

.form-control-text {
  height: 150px;
  width: 100%;
}

/*お気に入りピンボタン*/
.like-btn {
  color: #d7ccb6;
}

.like-btn-unlike {
  color: $main_color;
}

/*検索フォーム*/
.category_form {
  margin-top: 20px;
}

/*入力フォーム*/
.form {
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px #eae6dc;
  box-shadow: 0 0 4px #eae6dc;
}

.cp_stepflow07 {
	font-size: 80%;
	display: flex;
	margin: 0 0 1em;
  padding: 0;
  li {
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-overflow: ellipsis;
    color: #b0bec5;
     -ms-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    .bubble::after {
      position: absolute;
      top: 0px;
      right: 50%;
      left: 50%;
      display: block;
      width: 90%;
      height: 8px;
      content: '';
      transform: translateX(-50%);
      background-color: #b0bec5;
    }
  }
}

.cp_stepflow07 > li .bubble + span {
  display: block;
	margin-top: 1em;
}

.cp_stepflow07 > li.form_active,
.cp_stepflow07 > li.form_active .bubble {
	font-weight: bold;
	color: $main_color;
}

.cp_stepflow07 > li.form_active .bubble::after {
	background-color: $main_color;
}


.place {
	width: 30%;
	height: 50px;
}

select {
	border :1px solid #eee;
	font-size :16px;
}

/*カテゴリチェックボックス*/
.item_tag {
	display: inline-block;
	margin-right: 10px;
  margin-bottom: 10px;
  input[type=checkbox] {
    display: none;
  }
}

.item-span span {
	display: inline;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	background: #eae6dc;
	-webkit-transition: .3s all;
	transition: .3s all;
  cursor: pointer;
  &:hover {
    background-color: $main_color;
  }
}



input[type=checkbox]:checked + .item-span span {
	background: $main_color;
	background-size: 15px 13px;
}

input[type=checkbox]:checked:hover + .item-span span {
	color: rgba(255,255,255,0.5);
	background: $main_color;
}

/*フラッシュメッセージ*/
.flash {
  display: block;
  .alert {
    text-align: center;
    position: fixed;
    right: 10px;
    margin-top: 85px;
  }
  .alert-info {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
    border: none;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 0 4px #eae6dc;
  }
  .alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
    border: none;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 0 4px #eae6dc
  }
}

div.field_with_errors {
  color: red;
  input {
    background-color:  #fcc;
  }
}

p.error_msg {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: red;
}
