$main_color: #FFA500;
$sub_color: #000000;
$sub2_color: #ffffff;

body {
  margin: 0;
  padding: 0;
  font-family:  "Noto Sans JP", sans-serif;
  background: #f7f7f7;

  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

.contents{
  width: 980px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

.contents_medium {
  width: 600px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

.contents_small {
  width: 360px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

.about_contents {
  padding: 60px 0;
  p {
    font-size: 20px;
    line-height: 2.4;
  }
}

.about_title {
  font-size: 30px;
}

.static_page_title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}

.static_page_item {
  margin-bottom: 40px;
  h5 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .contents {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .contents {
    width: calc(100% - 40px);
    padding: 69px 20px 88px;
  }

  .contents_medium {
    width: calc(100% - 40px);
    padding: 69px 20px 88px;
  }

  .about_contents {
    padding: 60px 0;
    .about_title {
      font-size: 18px;
    }
    p {
      font-size: 15px;
      line-height: 1.5;
    }
  }
}

.link {
  font-size: 14px;
  text-decoration: underline;
}

.flex {
  display: flex !important;
  align-items: center;
}

.orange {
  color: $main_color;
}

.fas .fab {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 600 !important;
}

.block{
  display: block;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
  margin: 0 16px 8px 0;
  font-size: 14px;
}

.text_deco a {
  color: #006198;
  text-decoration: underline;
}

.photo_text {
  text-decoration: none;
  font-size: 14px!important;
}

.fs17 {
  font-size: 17px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: $main_color;
}

input[type=password] {
  width: 100%;
  height: 40px;
}

input[type=email] {
  width: 100%;
  height: 40px;
}


//ボタン
.btn_main {
  display: inline-block;
  width: auto;
  margin: 0 0 0 10px;
  font-size: 12px;
  border-radius: 2px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: $main_color;
  color: $sub2_color;
  border: solid 4px $main_color;
  border-radius: 3px;
}

.btn_top {
  display: inline-block;
  padding: 8px 50px;
  text-decoration: none;
  margin: 0 0 0 10px;
  width: auto;
  color: $main_color;
  font-size: 12px;
  background-color:rgba(255,255,255,0.5);
  border-radius: 4px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: $main_color;
  color: #FFF;
  border: solid 4px $main_color;
  border-radius: 3px;
}

.btn-square:active {
  background: #98bbeb;
  border: solid 4px#98bbeb;
}

.btn-back {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #848382;
  color: $sub2_color;
  border: solid 4px #848382;
  border-radius: 3px;
  margin-bottom: 10px;;
}

.btn-back:active {
  background: #98bbeb;
  border: solid 4px #98bbeb
}

.btn_sns {
  width: 70%;
  padding: 8px 0;
  margin-bottom: 12px;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  .btn_sns {
    width: 90%;
    margin-bottom: 12px;
    font-size: 13px;
  }
}

.btn_guest_user {
  background: #909495;
  border: solid 4px #909495;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: $sub2_color;
  }
}

.btn_twitter {
  background: #00aced;
  border: solid 4px #00aced;
  a {
    text-decoration: none;
    color: $sub2_color;
  }
}

.btn_facebook {
  background: #305097;
  border: solid 4px #305097;
  a {
    text-decoration: none;
    color: $sub2_color;
  }
}
/*お気に入りピンボタン*/
.like-btn {
  color: #d7ccb6;
}

.like-btn-unlike {
  color: $main_color;
}

/*フォーム*/
.form {
  padding: 32px;
  border-radius: 16px;
  background: $sub2_color;
  -webkit-box-shadow: 0 0 4px #eae6dc;
  box-shadow: 0 0 4px #eae6dc;
  p {
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 640px) {
  .form p {
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #eae6dc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: .3s all;
  .form-control:focus {
    border-color: $main_color;
  }
}

.form-group {
  margin-bottom: 32px;
  label{
    display: block;
  }

  input {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
  }

  .check_block {
    display: flex;
  }

  img {
    width: 200px;
  }
}

.text-field {
  height: 100px;
}

.form_setting a{
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.form_title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.cp_stepflow07 {
	font-size: 80%;
	display: flex;
	margin: 0 0 1em;
  padding: 0;
  li {
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-overflow: ellipsis;
    color: #b0bec5;
     -ms-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    .bubble::after {
      position: absolute;
      top: 0px;
      right: 50%;
      left: 50%;
      display: block;
      width: 90%;
      height: 8px;
      content: "";
      transform: translateX(-50%);
      background-color: #b0bec5;
    }
  }
}

.cp_stepflow07 > li .bubble + span {
  display: block;
	margin-top: 1em;
}

.cp_stepflow07 > li.form_active,
.cp_stepflow07 > li.form_active .bubble {
	font-weight: bold;
	color: $main_color;
}

.cp_stepflow07 > li.form_active .bubble::after {
	background-color: $main_color;
}


.place {
	width: 30%;
	height: 50px;
}

select {
	border :1px solid #eee;
  font-size :16px;
  background-color: $sub2_color;
}

/*コメントフォーム*/
.reviews_item {
  display: flex;
  margin-bottom: 24px;
  .reviews_item_title {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
  }

  .reviews_item_img {
    position: relative;
    display: inline-block;
    margin-right: 24px;
    .reviews_photo {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.form-control-text {
  height: 150px;
  width: 100%;
}


/*カテゴリチェックボックス*/
.item_tag {
	display: inline-block;
	margin-right: 10px;
  margin-bottom: 10px;
  input[type=checkbox] {
    display: none;
  }
}

.item-span span {
	display: inline;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	background: #eae6dc;
	-webkit-transition: .3s all;
	transition: .3s all;
  cursor: pointer;
  &:hover {
    background-color: $main_color;
  }
}

input[type=checkbox]:checked + .item-span span {
	background: $main_color;
	background-size: 15px 13px;
}

input[type=checkbox]:checked:hover + .item-span span {
	color: rgba(255,255,255,0.5);
	background: $main_color;
}

/*ページネーションデザイン*/
.pagination{
  padding:2em;
  display:flex;
  justify-content:center;
  a,span{
    width:40px;
    height:50px;
    margin:2px;
    line-height:50px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#222;
    transition:.3s;
    font-size: 20px;
  }
  .current{
    background:$main-color;
    border-radius:20%;
  }
}
