.n-circle {
  position: absolute;
  padding-left: 0.7rem;
  padding-top: 0rem;
  color: #efa04c;
  font-size: 0.9rem;
}

.fa-stack {
  margin-top: 5px;
}

.form-inline img {
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: -5px;
}

@media screen and (max-width: 640px) {
  .col-md-6{
    font-size: 13px;
  }
}
