.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
  margin-top: 20px;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}

//edit

.profile_contents {
  width: 360px;
  height: 100%;
  padding: 136px 0 220px;
  margin: 0 auto;
}

.profile-form-wrap {
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
}

.profile-form-wrap label {
  font-weight: bold;
}

.form_title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.edit-profile-wrapper {
  margin-top: 60px;
}

.form-group {
  margin-bottom: 32px;
}

label, input {
  display: block;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #eae6dc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: .3s all;
}

.form-control:focus {
  border-color: #e97b15;
}

.text-field {
  height: 100px;
}

