.contents_small {
width: 360px;
}

.form-setting a{
  display: block;
  text-align: center;
}

.form-setting a {
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-top: 30px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
